venv/
__pycache__/
.pytest_cache/
*.pyc
.env
.DS_Store
model/*.keras
model/*.h5
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl